/*
* Authored by Andrew Herold (heroldev)
* Copyright 2023
*/
.x-fl-rr-container {
  display: flex;
  flex-direction: column;
  text-align: left !important;
  margin-top: 0.6em;
  margin-right: 0px;
  margin-bottom: 0.6em;
  margin-left: 0px;
}

.x-heading-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-top: 0.6em;
  margin-right: 0px;
  margin-bottom: 0em;
  margin-left: 0px;
}