.x-title-name {
  font-family: "adobe-garamond-pro", serif;
  font-weight: 900;
  font-style: normal;
  font-size: var(--font-size-48)
}

.x-subtitle {
  font-family: "adobe-garamond-pro", serif;
  font-weight: 600;
  font-style: normal;
  font-size: var(--font-size-24)
}

.x-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  place-items: center;
  margin-top: 0.6em;
  margin-right: 0px;
  margin-bottom: 0.6em;
  margin-left: 0px;
}

.x-p-small {
  font-size: var(--font-size-10);
}

.x-p-footer {
  font-size: var(--font-size-12);
}
