@astrobrite-peach: #FEDEB5;
@resume-text: #141414;
@lighter-text: #30323D;
@even-lighter: #4D5061;
@cadet-gray: #8B939C;
@air-superiority: #779CAB;

:root {
  font-family: adobe-garamond-pro;
  font-weight: 400;
  font-size: 62.5%;

  --font-size-8: 0.8rem;  //8px
  --font-size-10: 1.0rem; //10px
  --font-size-12: 1.2rem; //12px
  --font-size-16: 1.6rem; //16px
  --font-size-18: 1.8rem; //18px
  --font-size-24: 2.4rem; //24px
  --font-size-48: 4.8rem; //48px
  --font-size-96: 9.6rem; //96px

  line-height: 1.5;

  background: var(--arc-palette-background, @astrobrite-peach);
  color: var(--arc-palette-foregroundPrimary, @resume-text);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

* {
  border: 0;
  padding: 0;
  margin: 0;
  line-height: 140%;
  text-align: center;
}

#root {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

html,
body,
#root {
  width: 100%;
  height: 100%;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

hr {
  border-top: 1px solid var(--arc-palette-subtitle, @resume-text);
  width: 40px;
  margin: 0.6em 0;
}

a {
  color: var(--arc-palette-foregroundPrimary, @resume-text);
  &:hover {
    color: var(--arc-palette-foregroundSecondary, @even-lighter);
  }
}

h1 {
  // color: var(--arc-palette-title);
  font-size: var(--font-size-48);
}

h2 {
  font-size: var(--font-size-24);
}

p {
  font-size: var(--font-size-18);
}
